<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <footer>
        <div class="container-fluid bg-dark m-6 p-5 text-center">
            <div class="row">
                <div class="col"><a href="" class="text-decoration-none"><i class="bi bi-chat-left-text-fill"></i> Contacto</a></div>
                <div class="col"><a href="" class="text-decoration-none"><i class="bi bi-flag"></i> Soporte</a></div>
                <div class="col"><a href="" class="text-decoration-none"><i class="bi bi-facebook"></i> Facebook</a></div>
                <div class="col"><a href="" class="text-decoration-none"><i class="bi bi-instagram"></i> Instagram</a></div>
                
            </div>
      
        </div>
      </footer>
    
    

</body>
</html>