{% extends './base-adm.html' %}

{% block title %}Editar contenido web{% endblock %}

{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="container text-center">
        <div class="col">
            <div class="row">
                <h1>
                    Editar contenido
                </h1>
            </div>
        </div>
    </div>
</body>
</html>


{% endblock %}